

@media only screen and (min-width:481px) {
   body {
    background: green;
  }
article{
  float: right;
  position: relative;
  top:0;
  right:0;
  width: 65%;

}
nav{
  float: left;

  top: 0;
  left:0;

}



  footer {
  background: #e7e7e7;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #eaeaea;

  }
  
  
}

html{
  position: relative;
}


body {
  margin-bottom: 60px;
  padding-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  background-color: lightblue;
  

 
}
header{
    color: darkblue;
    position:relative;
}

}
.center {
    text-align: center;
    color: #190303;
  
}
/* unvisited link */
a:link {
    color: blue ;
}

/* visited link */
a:visited {
    color: darkblue;
}

/* mouse over link */
a:hover {
    color: purple;
}

/* selected link */
a:active {
    color: #0000FF;
}
em{
    color: red;
}
.boxmodel{
    width: 100%;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}
nav{
    text-decoration: none;    
    font-family: "Time New Roman", Georgia, Serif ;
    position: relative;
}


/*
 *
 *
 */
h2{
    color: red;
}
